---
import { getGroup } from '../../lib/groups/getGroup'
import Layout from '../../layout/Layout.astro'
import Title from '../../components/Title.astro'

export const prerender = false

const { id } = Astro.params

const group = await getGroup(id)
---

<Layout>
  <main class='p-4'>
    <Title backbutton={true}>
      Curso "{group.name}"

      <p class='text-lg font-medium self-end'>
        {group.people.length} Alumnos
      </p>
    </Title>

    <div class='w-full h-[75vh] gap-4' id='grid'>
      <section>
        <h2 class='text-3xl font-semibold p-2'>Alumnos</h2>

        <ul class='w-full flex flex-col gap-2'>
          {
            group.people.map(person => (
              <li class='p-2 border-2 text-xl font-medium rounded-md'>{`${person.firstname} ${person.lastname}`}</li>
            ))
          }
        </ul>
      </section>
      <section class='border-2'></section>
    </div>
  </main>
</Layout>

<style>
  #grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
</style>
