---
import Layout from '../layout/Layout.astro'
import Title from '../components/Title.astro'

import { SearchedPeopleList } from '../components/SearchedPeopleList'

export const prerender = false

const url = Astro.url
const search = url.searchParams.get('q') || ''
---

<Layout searchbar={false}>
  <main class='p-4 flex flex-col items-center'>
    <Title backbutton={true}>Búsqueda</Title>
    <form class='relative mb-6 w-2/5' id='searchform'>
      <input
        value={search}
        name='searchinput'
        id='searchinput'
        type='text'
        placeholder='Buscar alumnos'
        class='bg-gray-100 text-black font-semibold w-full px-4 py-2 rounded-lg hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500'
      />
      <button
        id='search-button'
        class='absolute right-0 top-0 mt-2 mr-2'
        type='submit'
      >
        <img src='/search.svg' alt='Buscar' class='h-6 w-6' />
      </button>
    </form>

    <SearchedPeopleList query={search} client:load />
  </main>
</Layout>

<script>
  const form = document.getElementById('searchform')
  const handleSubmit = event => {
    event.preventDefault()
    const search = event.target.searchinput.value
    const query = search.toLowerCase().replace(' ', '%20')
    location.href = `/search?q=${query}`
  }

  form?.addEventListener('submit', handleSubmit)
</script>
