---
import Layout from '../../layout/Layout.astro'
import Title from '../../components/Title.astro'
import AnnualCalendar from '../../components/AnnualCalendar.jsx'
import { getSearchedPeople } from '../../lib/people/getSearchedPeople'
import { getPerson } from '../../lib/people/getPerson'
import { DoughnutChart } from '../../components/DoughnutChart'

export async function getStaticPaths() {
  const people = await getSearchedPeople('')

  return people.map(person => {
    return { params: { id: person.id_person.toString() } }
  })
}

export const prerender = false

const { id } = Astro.params
const year = new Date().getFullYear()

const person = await getPerson(id)
const response = await fetch(`http://localhost:8000/people/${id}/assistance`)
const assistance = await response.json()

console.log(assistance)
---

<Layout>
  <main class='p-4 flex'>
    <div class='w-full h-[75vh] gap-4 grid grid-cols-2 grid-rows-2'>
      <div class='flex flex-col'>
          <Title backbutton={true} backhref='/search'>
            {`${person.firstname} ${person.lastname}`}
          </Title>
          <div class='flex items-center mb-4'>
            <p class='font-semibold mr-2'>Documento:</p>
            <p class='text-gray-800'>{person.document}</p>
          </div>
        </div>

        <div class='flex-none w-100 mt-4'>
          <div>
            <AnnualCalendar />
          </div>
        </div>
        
        <div class='flex-none w-80'>
          <div class='bg-white shadow-lg rounded-lg p-4'>
            <h2 class='text-lg font-semibold mb-2'>Contacto</h2>
            <p class='font-semibold mr-2'>Correo Electrónico:</p>
            <p class='text-gray-800'>{person.email}</p>
            <p class='font-semibold mr-2'>Número Telefónico:</p>
            <p class='text-gray-800'>{person.phone_number}</p>
          </div>

          <div class='bg-white shadow-lg rounded-lg p-4 mt-4'>
            <DoughnutChart assistance={assistance} client:load />
          </div>
        </div>
      </div>
    </main>
  </Layout>
  

<style>
  #grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

</style>
