---
import Layout from '../../layout/Layout.astro'
import Title from '../../components/Title.astro'
// import Calendar from '../../components/AnnualCalendar.jsx'
import { getSearchedPeople } from '../../lib/people/getSearchedPeople'
import { AnnualDoughnutChart } from '../../components/AnnualDoughnut.jsx'
import { getPerson } from '../../lib/people/getPerson'

export async function getStaticPaths() {
  const people = await getSearchedPeople('')

  return people.map(person => {
    return { params: { id: person.id_person.toString() } }
  })
}

export const prerender = false

const { id } = Astro.params
const year = new Date().getFullYear()

const person = await getPerson(id)
const response = await fetch(`http://localhost:8000/people/${id}/assistance`)
const assistance = await response.json()

console.log(assistance)

const COLOR_CODE = {
  assisted: {
    letter: 'P',
    color: 'text-green-500'
  },
  'no-assisted': {
    letter: 'A',
    color: 'text-red-500'
  },
  late: {
    letter: 'T',
    color: 'text-yellow-500'
  }
}
---

<Layout>
  <main class='p-4 flex'>
    <div class='flex-1'>
      <Title backbutton={true} backhref='/search'>
        {`${person.firstname} ${person.lastname}`}
      </Title>
      <div class='flex items-center mb-4'>
        <p class='font-semibold mr-2'>Documento:</p>
        <p class='text-gray-800'>{person.document}</p>
      </div>
    </div>
    <div class='flex-none w-80'>
      <div class='bg-white shadow-lg rounded-lg p-4'>
        <h2 class='text-lg font-semibold mb-2'>Contacto</h2>
        <p class='font-semibold mr-2'>Correo Electrónico:</p>
        <p class='text-gray-800'>{person.email}</p>
        <p class='font-semibold mr-2'>Número Telefónico:</p>
        <p class='text-gray-800'>{person.phone_number}</p>
      </div>
      <div class='flex-none w-80 mt-4'>
        <div class='bg-white shadow-lg rounded-lg p-4'>
          <h2 class='text-lg font-semibold mb-2'>Calendario</h2>
        </div>
      </div>
    </div>
    <div class='w-full h-[75vh] gap-4' id='grid'>
      <section>
        <h2 class='text-3xl font-semibold p-2'>Historial de Asistencia</h2>
        <ul class='w-full flex flex-col gap-2'>
          <!-- {
            assistanceHistory.map(record => {
              const color = COLOR_CODE[record.status]
              return (
                <li class='p-2 border-2 text-xl font-medium rounded-md flex items-center justify-between'>
                  <p>{record.date}</p>
                  <div class='flex items-center gap-2 text-black/70'>
                    <p class={`text-xl font-medium`}>{record.time}</p>
                    <span class={`text-2xl font-bold ${color?.color}`}>{color?.letter}</span>
                  </div>
                </li>
              )
            })
          }
        </ul>
      </section>
      <section class='flex justify-center'>
        <AnnualDoughnutChart assistanceHistory={assistanceHistory} client:load />
      </section> -->
    </div>
  </main>
</Layout>

<style>
  #grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
</style>
