---
import Layout from '../../layout/Layout.astro'
import Title from '../../components/Title.astro'
import AnnualCalendar from '../../components/AnnualCalendar.jsx'
import { getPerson } from '../../lib/people/getPerson'
import { DoughnutChart } from '../../components/DoughnutChart'

export const prerender = false

const { id } = Astro.params
const year = new Date().getFullYear()

const person = await getPerson(id)
const response = await fetch(
  `http://localhost:8000/people/${id}/assistance/${year}`
)
const yearly_assistance = await response.json()

console.log(yearly_assistance)
---

<Layout>
  <main class='p-4 flex flex-col items-center'>
    <div class='w-full mb-4'>
      <Title backbutton={true} backhref='/search'>
        {`${person.firstname} ${person.lastname}`}
      </Title>
      <div class='flex items-center mb-2'>
        <p class='font-semibold mr-2'>Documento:</p>
        <p class='text-gray-800'>{person.document}</p>
      </div>
    </div>

    <div class='w-full flex justify-between'>
      <div class='flex-grow'>
        <AnnualCalendar id_person={id} client:load />
      </div>

      <div class='ml-2' style='width: 55%;'>
        <DoughnutChart assistance={yearly_assistance} client:load />
      </div>
    </div>

    <div class='fixed top-30 right-4 w-64'>
      <div class='bg-white shadow-lg rounded-lg p-4'>
        <h2 class='text-lg font-semibold mb-1'>Contacto</h2>
        <p class='font-semibold text-sm'>Correo:</p>
        <p class='text-gray-800 text-sm'>{person.email}</p>
        <p class='font-semibold text-sm'>Teléfono:</p>
        <p class='text-gray-800 text-sm'>{person.phone_number}</p>
      </div>
    </div>
  </main>
</Layout>

<style>
  #grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
</style>
